{% extends "index.html" %}
{% load blog_widgets %}
{% block title %}
home
{% endblock title %}

{% block current_page %}
{% endblock current_page %}

{% block content %}
	<div class="">
		{% if posts %}
			<div class="posts">
				{% include "post_tpl.html" %}
				{% for post in posts %}
					{% post_template post.id %}
				{% endfor %}
			</div>
			{% if load_flag %}
				<span id="post-load-button" class="btn btn-default pull-right" data-offset="0" onclick="load_posts({{ ajax_data }});">Show more</span>
			{% endif %}

		{% else %}
			<div class="panel panel-default">
				<div class="panel-body">
					Nothing is found, try <a href="{% url 'index' %}">home page</a>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock content %}