<div>
	<nav class="navbar navbar-default">

		<div class="navbar-margin">
			<ul class="nav navbar-nav">
				<li><img class="nav-logo" alt="Tardis" src="/static/img/the_tardis.png"></li>
				{% for item in items %}
					<li>
						<a href="{{ item.link }}">{{ item.name }}</a>
					</li>
				{% endfor %}
			</ul>
			<form action="{% url 'search' %}" class="navbar-form navbar-left" role="search" id="form-search">
				<div class="form-group">
					<input type="text" class="form-control"  name="query" id="form-search-input">
				</div>
				<button type="submit" class="btn btn-default" id="form-search-submit">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</form>

			{% if user %}
			<ul class="nav navbar-nav navbar-right">

				<li><a href="{% url 'author' user.id %}">{{ user.username }}</a></li>
				<li><a href="{% url 'logout' %}">logout</a></li>
			</ul>
			{% endif %}

		</div>
	</nav>
</div>