{% if post %}
{% load humanize %}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			{{ post.title }}
			{% if edit_flag %}
				<span class="pull-right"><a class="white-link" href="{% url 'edit_post' post.id %}">edit</a></span>
			{% endif %}
		</h3>
	</div>
	<div class="panel-body panel-word-wrap">
		{{ post.text }}
	</div>
	<div class="panel-footer">
		<div class="row">
			<div class="col-md-2">Author: <a href="{% url 'author' post.author.id %}">{{ post.author }}</a></div>
			{% if post.categories.all %}

				<div class="col-md-6">Categories:

						{% for category in post.categories.all %}
							<span class="post-category">
								<a href="{% url 'category' category.id %}">{{ category.name }}</a>
							</span>
						{% endfor %}
				</div>
			{% endif %}
			<div class="col-md-3 pull-right">posted {{ post.created|naturaltime }}</div>

		</div>
	</div>
</div>
{% else %}
	<div class="panel panel-default">
		<div class="panel-body">
			Post is not found, try <a href="{% url 'index' %}">home page</a>
		</div>
	</div>
{% endif %}