{% verbatim %}
	<script id="post_tpl" type="text/x-handlebars-template">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					{{title}}
					{{#if edit_flag}}
						<span class="pull-right"><a class="white-link" href="{{edit_url}}">edit</a></span>
					{{/if}}
				</h3>
			</div>
			<div class="panel-body">
				{{text}}
			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col-md-2">Author: <a href="{{author_url}}">{{author_name}}</a></div>
					{{#if categories}}
						<div class="col-md-6">Categories:
							{{#each categories}}
								<span class="post-category">
									<a href="{{this.url}}">{{this.name}}</a>
								</span>
							{{/each}}
						</div>
					{{/if}}
					<div class="col-md-3 pull-right">posted at: {{created}}</div>
				</div>
			</div>
		</div>
	</script>
{% endverbatim %}
